<div class="card">
  <h2 class="card-title">Connexion</h2>
  <div class="card-body">
    <div class="form-group"
         [ngClass]="{' has-danger' : message.type == 'error'}"
    >
      <label class="form-control-label" for="password">Password access</label>
      <input
        [ngClass]="{'is-invalid' : message.type == 'error'}"
        type="text"
        class="form-control" id="password">
      <div class="invalid-feedback">{{message.content}}</div>
    </div>
    <button type="button" class="btn btn-primary">Log in</button>
  </div>
</div>
